#board{
    border-collapse: collapse;
}
#board tbody{
    border: solid medium;
}
#board colgroup{
    border: solid medium;
}
#board td{
    border: solid thin;
    font-size: 200%;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
#board td:hover{
    background-color: #f5dd90;
}

#palette{
    border-collapse: collapse;
}
#palette td{
    border: solid thin;
    font-size: 200%;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
}
