#board{
    border-collapse: collapse;
}
#board tbody{
    border: solid medium;
}
#board colgroup{
    border: solid medium;
}
#board td{
    border: solid thin;
    font-size: 200%;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
#board td:hover{
    background-color: #f5dd90;
}

#board tr:nth-child(3n) {
    border-bottom: 2px solid #000000;
}

#board td:nth-child(3n) {
border-right: 2px solid #000000;
}

#palette{
    border-collapse: collapse;
}
#palette td{
    border: solid thin;
    font-size: 200%;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
}
.navbar-brand{
    font-size: 150%;
}


#timeline colgroup{
    border: solid medium;
}
#timeline tbody{
    border: solid medium;
}
#timeline td{
    border: 0ch;
}
